{% extends 'layout/default.html.twig' %}

{% block title %}Tous les articles - Blog Damien Riviere{% endblock %}

{% block body %}
    <div class="container-fluid bg-light py-5 text-center section-title">
        <h2 class="text-danger">Tous les articles</h2>
        <p class="font-weight-bold mb-0">Mes publications</p>
    </div>

    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                {% for post in posts %}
                    <!-- Blog Post -->
                    <div class="card mb-4 mt-4">
                        <img class="card-img-top" src="{{ post.cover_image }}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.introduction }}</p>
                            <a href="/post/{{ post.id }}/{{ post.slug }}" class="btn btn-primary">Lire la suite &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            {% for category in post.getCategories() %}
                                <a href="/post/category/{{ category.id }}/{{ category.slug }}" class="{{ category.style }} text-white">{{ category.name }}</a>
                            {% endfor %}
                            <span class="float-right">Publié le {{ post.created_at | date("d/m/Y") }}</span>
                        </div>
                    </div>
                {% endfor %}

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Right section of the page  -->
            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                {% include 'layout/categories.html.twig' %}
            </div>

        </div>

    </div>
{% endblock %}