{% extends 'layout/default.html.twig' %}

{% block title %}Tous les articles - Blog Damien Riviere{% endblock %}

{% block body %}
    <div class="container-fluid bg-light py-5 text-center section-title">
        <h2 class="text-danger">Tous les articles</h2>
        <p class="font-weight-bold mb-0">Mes publications</p>
    </div>

    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-lg-8 col-md-12 col-sm-12">

                {% for post in posts %}
                    <!-- Blog Data -->
                    <div class="card mb-4 mt-4">
                        <img class="card-img-top" src="{{ post.cover_image }}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.introduction }}</p>
                            <a href="/post/{{ post.id }}/{{ post.slug }}" class="btn btn-primary">Lire la suite &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            {% for category in post.getCategories() %}
                                <a href="/post/category/{{ category.id }}/{{ category.slug }}" class="{{ category.style }} text-white">{{ category.name }}</a>
                            {% endfor %}
                            <span class="float-right date-publicated">Publié le {{ post.createdAt | date("d/m/Y") }}</span>
                        </div>
                    </div>
                {% endfor %}

                {% include 'layout/pagination.html.twig' %}

            </div>

            <!-- Right section of the page  -->
            <div class="col-lg-4 categories">
                {% include 'layout/categories.html.twig' %}
            </div>

        </div>

    </div>
{% endblock %}