{% extends 'layout/default.html.twig' %}

{% block title %}{{ post.title }} - Blog Damien Riviere{% endblock %}

{% block body %}
    <div class="container-fluid bg-light py-5 text-center section-title">
        <h1 class="text-danger h2">
            {% if session.id != null %}
                {% if like != null %}
                    <a href="" id="unlikeButton" data-post-id="{{ post.id }}" data-user-id="{{ session.id }}"
                       data-slug="{{ post.slug }}" class="text-decoration-none"
                    >
                        <i class="fas fa-thumbs-up" id="iconLike"></i>
                    </a> -
                {% else %}
                    <a href="" id="likeButton" data-post-id="{{ post.id }}" data-user-id="{{ session.id }}"
                       data-slug="{{ post.slug }}" class="text-decoration-none"
                    >
                        <i class="far fa-thumbs-up" id="iconLike"></i>
                    </a> -
                {% endif %}
            {% endif %}
            {{ post.title }}
        </h1>
        <p class="font-weight-bold mb-0">Publié le {{ post.createdAt | date("d/m/Y") }} à {{ post.createdAt | date("H:i") }}</p>
        {% for category in post.getCategories()  %}
            <a href="/post/category/{{ category.id }}/{{ category.slug }}" class="{{ category.style }} text-white">{{ category.name }}</a>
        {% endfor %}
    </div>
    
    <div class="container">

        {% include 'layout/alert.html.twig' %}

        <div class="row">

            <!-- Data Content Column -->
            <div class="col-lg-8">

                <!-- Data Image -->
                <img class="img-fluid rounded mt-4" src="{{ post.cover_image }}" alt="">

                <hr>

                <!-- Data Introduction -->
                <p class="lead">{{ post.introduction }}</p>

                <p>{{ post.content }}</p>

                <hr>

                <div class="row">
                {% set user = post.getUser() %}
                    <div class="col-lg-1 col-md-1 col-sm-12 img-author-article">
                        <img src="{{ user.picture }}" class="avatar avatar-medium" alt="Avatar de Damien">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 article-author">
                        <h5 class="mb-0"> 
                            <a href="/profile/{{ user.id }}" class="text-danger text-decoration-none"><strong>{{ user.name }}</strong></a>
                        </h5>
                        {% if post.modifyAt != null %}
                            <p class="small text-muted mb-0">Modifié le {{ post.modifyAt | date("d/m/Y") }} à {{ post.modifyAt | date("H:i") }}</p>
                        {% endif %}
                        <span class="badge badge-primary">{{ countPosts }} articles</span>
                        <span class="badge badge-warning text-white">{{ countComments }} messages</span>
                    </div>
                </div>

                {% if session == null %}
                    <div class="alert alert-secondary my-4">
                        <a href="/login">Connectez-vous</a> pour écrire un commentaire !
                    </div>
                {% else %}
                    {# Comment form #}
                    {% include '/post/new_comment.html.twig' %}
                {% endif %}

                <hr>

                <h3 class="mb-3 all-comments">Tous les commentaires</h3>
                <!-- Comments list -->
                {% for comment in comments if comment.statusId == 2 or comment.statusId == 3 %}
                    {% set user = comment.getUser() %}
                    <div class="media mb-4 mt-4">
                        <img class="d-flex mr-3 rounded-circle avatar avatar-medium" src="{{ user.picture }}"
                             alt="">
                        <div class="media-body comment-sm">
                            <h5 class="mt-0 font-weight-bold author-comment-sm">
                                <a href="/profile/{{ user.id }}" class="name-style">
                                    {{ user.name }}
                                </a>
                                {# Link to edit comment if user is connected #}
                                {% if session.id == comment.userId %}
                                    <a href="/post/{{ post.id }}/{{ post.slug }}/edit-comment/{{ comment.id }}" class="text-decoration-none">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                {% endif %}
                                {% if comment.statusId == 2 and session.id != user.id and session.id != null %}
                                    <a href="#" class="text-warning report-link text-decoration-none" title="Signaler le commentaire"
                                       data-toggle="modal" data-target="#reportModal" data-id="{{ comment.id }}" data-post="{{ post.id }}"
                                    >
                                        <i class="fas fa-exclamation-circle"></i>
                                    </a>
                                {% endif %}
                                <small class="text-muted date-publicated-message">le {{ comment.createdAt | date("d/m/Y") }} à {{ comment.createdAt | date("H:i") }}</small>
                            </h5>
                            {{ comment.content }}
                        </div>
                    </div>
                {% endfor %}

                {% if pagination.getPages() >= 1 and comments != null %}
                    {% include 'layout/pagination.html.twig' %}
                {% endif %}
            </div>

            <!-- Categories -->
            <div class="col-md-4 categories">
                {% include 'layout/categories.html.twig' %}
            </div>

        </div>

    </div>

    {% include 'post/layout/modal_report.html.twig' %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/modal_report.js"></script>
        <script src="/js/like.js"></script>
    {% endblock %}
{% endblock %}