{% extends 'admin/layout/default.html.twig' %}

{% block title %}Commentaires signalés - Administration{% endblock %}

{% block body %}
    <ol class="breadcrumb breadcrumb-sm">
        <li class="breadcrumb-item">
            <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Commentaires signalés</li>
    </ol>

    {% include 'admin/layout/alert.html.twig' %}

    <!-- Table Comments -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Liste des commentaires signalés
        </div>
        <div class="card-body card-body-sm">
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-center">
                    <tr>
                        <th>#</th>
                        <th>Commentaire</th>
                        <th>Auteur</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot class="text-center">
                    <tr>
                        <th>#</th>
                        <th>Commentaire</th>
                        <th>Auteur</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody class="text-center">
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.id }}</td>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.user.name }}</td>
                            <td>{{ comment.createdAt| date("d/m/Y") }} à {{ comment.createdAt | date("H:i") }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="#" class="btn btn-md btn-success publicated-link" title="Publié le commentaire" data-toggle="modal" data-target="#publicatedModal" data-id={{ comment.id }}>
                                        <i class="fas fa-check-square"></i>
                                    </a>
                                    <a href="#" class="btn btn-md btn-warning text-white moderate-link" title="Modéré le commentaire" data-toggle="modal" data-target="#moderateModal" data-id={{ comment.id }}>
                                        <i class="fas fa-comment-slash"></i>
                                    </a>
                                    <a href="#" class="btn btn-md btn-danger delete-link" title="Supprimer le commentaire" data-toggle="modal" data-target="#delModal" data-id={{ comment.id }}>
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Mis à jour le {{ comment.createdAt| date("d/m/Y") }} à {{ comment.createdAt | date("H:i") }}</div>
    </div>

    {% include 'layout/pagination.html.twig' %}
    {% include 'admin/layout/modal_delete.html.twig' %}
    {% include 'admin/layout/modal_moderated.html.twig' %}
    {% include 'admin/layout/modal_publicated.html.twig' %}

    {% block javascripts %}
        <script src="/js/modal.js"></script>
    {% endblock %}
{% endblock %}